<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @healthcheck.handle %>
</p>

<p>A healthcheck is a powerful thing.</p>

<hr>

<p><%= Wisdom.sample %></p>

<%= link_to 'Back', healthchecks_path %>
